body {
    font-family: Arial, sans-serif;
    background-color: #F39EBD;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 150px; /* Reduced the width from 250px to 200px */
    height: 100%;
    position: fixed;
    background-color: #03857D;
    color: #ffffff;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 220px; /* Adjusted the margin-left from 270px to 220px to match the new sidebar width */
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #0e0606;
    background-color: #e5eef9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #03857D;
}